/**
 * Custom Hebrew Fonts - MediaWave Israel
 *
 * Font files are in:
 * - src/fonts/BAPlatforma-Regular.otf (headlines)
 * - src/fonts/Sn_armilado/ (body text)
 */

/* ============================================
   BA PLATFORMA - Headlines
   Only Regular weight available
   ============================================ */

@font-face {
  font-family: 'BA Platforma';
  src: url('../fonts/BAPlatforma-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* For bold usage, use regular weight (single weight font) */
@font-face {
  font-family: 'BA Platforma';
  src: url('../fonts/BAPlatforma-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ============================================
   SN ARMILADO - Body Text
   Using Regular weight only (no bold)
   ============================================ */

/* Regular */
@font-face {
  font-family: 'Sn Armilado';
  src: url('../fonts/Sn_armilado/Sn_armilado.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 150%;
}

/* Map all weights to Regular */
@font-face {
  font-family: 'Sn Armilado';
  src: url('../fonts/Sn_armilado/Sn_armilado.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  size-adjust: 150%;
}

@font-face {
  font-family: 'Sn Armilado';
  src: url('../fonts/Sn_armilado/Sn_armilado.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  size-adjust: 150%;
}

@font-face {
  font-family: 'Sn Armilado';
  src: url('../fonts/Sn_armilado/Sn_armilado.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 150%;
}

/* ============================================
   AMERICAN CAPTAIN - English Text (Bold Display)
   For all English content across the site
   ============================================ */

@font-face {
  font-family: 'American Captain';
  src: url('../fonts/american-captain/AmericanCaptain.otf') format('opentype'),
       url('../fonts/american-captain/AmericanCaptain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Map bold weight to regular (single weight font) */
@font-face {
  font-family: 'American Captain';
  src: url('../fonts/american-captain/AmericanCaptain.otf') format('opentype'),
       url('../fonts/american-captain/AmericanCaptain.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
