/**
 * Custom Hebrew Fonts - MediaWave Israel
 *
 * Font files are in:
 * - src/fonts/BAPlatforma-Regular.otf (headlines)
 * - src/fonts/OS-Luizi-FFC-v1/ (body text)
 */

/* ============================================
   BA PLATFORMA - Headlines
   Only Regular weight available
   ============================================ */

@font-face {
  font-family: 'BA Platforma';
  src: url('../fonts/BAPlatforma-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* For bold usage, use regular weight (single weight font) */
@font-face {
  font-family: 'BA Platforma';
  src: url('../fonts/BAPlatforma-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ============================================
   OS LUIZI ROUND - Body Text
   Using Regular weight only (single weight font)
   ============================================ */

/* Regular */
@font-face {
  font-family: 'OS Luizi';
  src: url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff2') format('woff2'),
       url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff') format('woff'),
       url('../fonts/OS-Luizi-FFC-v1/OS_Luizi Round-FFC.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Map all weights to Regular */
@font-face {
  font-family: 'OS Luizi';
  src: url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff2') format('woff2'),
       url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff') format('woff'),
       url('../fonts/OS-Luizi-FFC-v1/OS_Luizi Round-FFC.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OS Luizi';
  src: url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff2') format('woff2'),
       url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff') format('woff'),
       url('../fonts/OS-Luizi-FFC-v1/OS_Luizi Round-FFC.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OS Luizi';
  src: url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff2') format('woff2'),
       url('../fonts/OS-Luizi-FFC-v1/OS-Luizi-Round-Webfonts-V1/os_luizi_round-ffc-web.woff') format('woff'),
       url('../fonts/OS-Luizi-FFC-v1/OS_Luizi Round-FFC.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ============================================
   AMERICAN CAPTAIN - English Text (Bold Display)
   For all English content across the site
   ============================================ */

@font-face {
  font-family: 'American Captain';
  src: url('../fonts/american-captain/AmericanCaptain.otf') format('opentype'),
       url('../fonts/american-captain/AmericanCaptain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Map bold weight to regular (single weight font) */
@font-face {
  font-family: 'American Captain';
  src: url('../fonts/american-captain/AmericanCaptain.otf') format('opentype'),
       url('../fonts/american-captain/AmericanCaptain.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
